@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR&display=swap');

/* 상단 뒷 배경 */
#head-img {  
     width: 100%;
    min-width: 1000px;
    height: 185px;
    background-image: url(/resources/image/nav/meeting/visual_meeting.jpg);
    background-attachment: fixed;
    background-size: 100% 400px;
    background-repeat: no-repeat;
    background-position: 50% 65px;
    margin: 0 auto;
}

.bsh-main {
    min-height: 1600px;
    height: auto;
}



/* 페이지별 메인 이미지 */

.bsh-main-img {
    width: 1000px;
    height: 550px;
    margin: 0 auto 60px;
    position: relative;
}

.move{
    position: absolute;
    font-size: 60px;
    cursor: pointer;

    top:235px;
    color:white;
    font-family: "나눔명조", sans-serif;
}

.next{
    right:0;
}

/* 중간 텍스트 */
.bsh-main-content {
    box-sizing: border-box;
    width: 1000px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -1px;
    font-size: 16px;
}

/* 버튼 영역 */
.bsh-btngroup {
    margin: 60px auto 0;
    width: 1000px;
    height: 58px;
    font-family: 'Noto Sans KR', sans-serif;
}
.bsh-btngroup>a:hover{
    transition: all 0.3s ease;
    background: #5e5a5b;
}

/* 버튼 영역 내부 텍스트 */
a.bsh-btngray {
    display: inline-block;
    width: 210px;
    height: 58px;
    background: #231f20;
    font-size: 17px;
    line-height: 60px;
    font-family: 'nSquare';
    color: #fff;
    text-decoration: none;
    text-align: center;
}

/* 테이블 1 */
.bsh-tb1 {
    width: 1000px;
    height: 145px;
    margin: 60px auto 0;
}

.bsh-tb1-info .bsh-padding-cell {
    border-bottom: 0;
    padding: 5px 0;
}

.bsh-tb1-info th {
    padding-left: 40px;
    color: #333;
    border-left: 0;
}

.bsh-tb1-info td {
    padding: 20px 0 18px 35px;
    border-bottom: 1px solid #c9c9c9;
    background: #fff;
    line-height: 1.7;
}

.bsh-tb1-info .bsh-con-cell>* {
    border-bottom: 0;
}

.bsh-tb1-info td.bsh-padding-cell2 {
    border-bottom: 0;
    padding: 5px 0;
    border-bottom: 1px solid #c9c9c9;
}

.bsh-tb1-info td {
    border-left: 0 none;
    font-size: 14px;
    background: #fff;
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
}

.bsh-tb1-info th {
    border-bottom: 1px solid #c9c9c9;
    font-size: 17px;
    color: #333;
    letter-spacing: -1px;
    font-weight: 400;
    padding-left: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}

.bsh-padding-cell {
    border-top: 2px solid black;
}

th,
td {
    text-align: left;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: keep-all;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.bsh-tb2-info {
    width: 1000px;
    margin: 65px auto;
    border-top: 2px solid black;
}



.bsh-tb2 th {
    border-bottom: 1px solid #c9c9c9;
    font-size: 16px;
    color: #111;
    letter-spacing: -1px;
    font-weight: 400;
    padding: 10px 0;
    text-align: center;
    position: relative;
    line-height: 1.6;
    font-family: 'Noto Sans KR', sans-serif;
}

.bsh-tb2 td {
    border-bottom: 1px solid #c9c9c9;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #7a7a7a;
    line-height: 1.6;
    font-family: 'Noto Sans KR', sans-serif;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}



/* 상단 페이지 리스트 */
.bsh-path {
    width: 1000px;
    height: 50px;
    margin: 0 auto;
}

.bsh-path ol {
    padding: 0;
}

.bsh-path li {
    display: inline-block;
}

.bsh-path a {
    font-size: 13px;
    text-decoration: none;
    color: #767676;
    font-family: 'Noto Sans KR', sans-serif;
    padding-right: 0 8px 0 8px;
}

/* 메인 제목 */
.bsh-main-title h1 {
    width: 1000px;
    height: 58px;
    margin: 0 auto;
    font-size: 33px;
    font-family: 'Nanum Myeongjo';
    letter-spacing: -1px;
    font-weight: 300;
}
