@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR&display=swap');


#head-img1{
    width: 100%;
    height: 185px;
    background-attachment: fixed;
    background-image: url(/resources/image/nav/facilities/visual_fitness.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;
}
#head-img2{
    width: 100%;
    height: 185px;
    background-attachment: fixed;
    background-image: url(/resources/image/nav/facilities/fitness/visual_fitness.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;
}
#head-img3{
    width: 100%;
    height: 185px;
    background-attachment: fixed;
    background-image: url(/images/visual_trail.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;
}

.bsh-main{
    border: 1px solid red;
    height: auto;
}

.bsh-path{
    justify-content: flex-start;
    border: 1px solid green;
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    text-transform: uppercase;
    color: #767676;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    
}

.bsh-path li{
    justify-content: flex-start;
    display: inline-block;
    /* float: left; */
    /* padding: 0 8px 0 0; */
    font-size: 13px;
    color: #767676;
    /* opacity: 0; */
    padding-right: 8px;
}

.bsh-main-title h1{
    /* border: 1px solid red; */
    width: 1000px;
    margin: 0 auto;
    height: 83px;
    padding: 18px 0 0;
    font-size: 33px;
    font-family: 'Nanum Myeongjo';
    letter-spacing: -1px;
    vertical-align: middle;
    font-weight: 300;
}

.bsh-main-img1{
    width: 1000px;
    height: 550px;
    /* border: 1px solid red; */
    margin: 0 auto 60px;
    background-image: url(/images/kiz1.jpg);
}
.bsh-main-img2{
    width: 1000px;
    height: 550px;
    /* border: 1px solid red; */
    margin: 0 auto 60px;
    background-image: url(/images/fitness2.jpg);
}
.bsh-main-img3{
    width: 1000px;
    height: 550px;
    /* border: 1px solid red; */
    margin: 0 auto 60px;
    background-image: url(/images/trail2.jpg);
}

.bsh-main-content{
    width: 1000px;
    height: 76.78px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
}

.bsh-tb1{
    /* border: 1px solid red; */
    width: 1000px;
    height: 145px;
    margin: 30px auto 0;
}


.bsh-tb1-info .bsh-padding-cell {
    border-bottom: 0;
    padding: 5px 0;
}

.bsh-tb1-info th {
    padding-left: 40px;
    color: #333;
    border-left: 0;
}

.bsh-tb1-info td {
    padding: 20px 0 18px 35px;
    /* border-bottom: 1px solid #c9c9c9; */
    background: #fff;
    line-height: 1.7;
}

.bsh-tb1-info .bsh-con-cell > * {
    border-bottom: 0;
}

.concell1{
    border-top: 2px solid black;
}
.concell3{
    border-bottom: 1px solid #c9c9c9;
}
    


.bsh-tb1-info{
    border-bottom: 0;
    padding: 5px 0;
}

.bsh-tb1-info td {
    border-left: 0 none;
    font-size: 14px;
    background: #fff;
    color: #333;
    /* vertical-align: top; */
    font-family: 'Noto Sans KR', sans-serif;
}

.bsh-tb1-info th {
    border-bottom: 1px solid #c9c9c9;
    font-size: 17px;
    /* font-family: 'nSquare'; */
    color: #333;
    letter-spacing: -1px;
    font-weight: 400;
    padding-left: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}


th, td {
    text-align: left;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: keep-all;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.bsh-tb2-info{
    width: 1000px;
    height: 205px;
    margin: 0 auto;
    /* border: 1px solid red; */
    /* border-top: 2px solid black; */
    /* border-bottom: 1px solid #c9c9c9; */
}



.bsh-tb2 th{
    padding: 10px 0 0 40px;
    /* padding-left: 40px; */
    margin-bottom: 20px;
    font-size: 17px;
    letter-spacing: -1px;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    border-bottom: 1px solid #c9c9c9;
}

.bsh-tb2 td {
    border-bottom: 1px solid #c9c9c9;
    color: #333;
    text-align: left;
    padding: 20px 0 18px 35px;
    font-size: 14px;
    color: #7a7a7a;
    line-height: 1.7;
    font-family: 'Noto Sans KR', sans-serif;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

