@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR&display=swap');
/*=========[ 기본 뼈대 ]========= */
.reservation-lookUp-page{
    margin: 0 auto 0 auto;
    width: 100%;
    height: 100%;
}
.rsc-top-image{
    width: 100%;
    min-width: 1000px;
    height: 185px;
    background-image: url(/resources/image/nav/spa/spaTop.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 400px;
    background-position: 50% 65px;
    margin: 0 auto;
}
.rsc-head-area,.rsc-foot-area{
    height: 150px;
    background-color: #FFFFFF
}
.rsc-body-area{
    width: 1000px;
    height: 1200px;
    background-color:#FFFFFF ;
    margin: 0 auto 0 auto;
}
.rsc-main-side{
    width: 80%;
    width: 1000px;
    min-width: 1000px;
}
/*=========[ 상단 영역 ]========= */
.rsc-head-area{
    display: flex;
    flex-direction: column;
}
.rsc-body-TopArea{
    width: 1000px;
    height: 1200px;
    background-color:#FFFFFF ;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*----[ 페이지 리스트 조회 ]---- */
.rsc-page-list>a{
    text-decoration: none;
    color: #767676;
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
}

/*----[ 페이지 제목 ]----*/
.rsc-page-title >h1{
    margin: 15px 0 0 0;
    font-size: 33px;
    font-family: 'Nanum Myeongjo';
    color: #000000;
    font-weight: 300;
}

/* ==============[중간 메인 영역]=============== */
#rsc-image-pool{
    position: relative;
}

#rsc-image-pool>img{
    width: 1000px; 
    height: 550px;
    object-fit: cover;
}


.move{
    position: absolute;
    font-size: 60px;
    cursor: pointer;

    top:235px;
    color:white;
    font-family: "나눔명조", sans-serif;
}

.next{
    right:0;
}


/* SPA 설명 */
#rsc-SPA-info p{
    font-size: 16px;
    color: #000000;
    letter-spacing: -1.8px;
}
/* 메뉴 전체 보기 */
#rsc-menu-btn{
    background-color: #333333;
    width: 210px;
    height: 58px;
    border: none;
    cursor: pointer;
}
#rsc-menu-btn:hover{
    transition: all 0.3s ease;
    background: #5e5a5b;
}
#rsc-menu-btn a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
}
/* 안내 테이블 */
#rsc-table-guideInfo{
    border-collapse: collapse;
    border-top:2px solid #000000;
    border-bottom:1px solid #767676;
}
#rsc-table-guideInfo th{
   font-size: 17px;
   padding: 0 0 0 40px;
}
#rsc-table-guideInfo td{
    font-size: 15px;
    padding: 20px 0px 18px 35px;
}