<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bookMapper">

	<resultMap type="Book" id="book_rm">
  		
  		<!-- DB에서 PK에 해당되는 필드, 컬럼명을 작성하는 태그 -->
  		<id property="bookNo" column="BOOK_NO" />
  		
  		<!-- 나머지 일반 컬럼 -->
  		
  		<result property="bookDate" column="BOOK_DATE" />
  		<result property="checkIn" column="CHECK_IN" />
  		<result property="checkOut" column="CHECK_OUT" />
  		<result property="roomProcess" column="ROOM_PROCESS" />
  		<result property="bookMemberNo" column="MEMBER_NO" />
  		<result property="bookMemberName" column="MEMBER_NAME" />
  		<result property="bookGuestNo" column="GUEST_NO" />
  		<result property="bookGuestName" column="GUEST_NAME" />
  		<result property="bookRoomNum" column="ROOM_NUM" />  		
  		<result property="bookPrice" column="PRICE" />
  		<result property="bookPromotion" column="BOOK_PROMOTION" />
  		<result property="adultCount" column="BOOK_ADULTCOUNT" />
  		<result property="childCount" column="BOOK_CHILDCOUNT" />
  		<result property="bedTypeNo" column="BED_TYPE_NO" />
  	</resultMap>
  	
  	<resultMap type="Room" id="room_rm">
  		<id property="roomNum" column="ROOM_NUM" />
  		
  		<result property="bookNo" column="BOOK_NO"/>
  		<result property="roomViewNo" column="ROOM_VIEW_NO"/>
  		<result property="roomTypeNo" column="ROOM_TYPE_NO"/>
  		<result property="roomViewName" column="ROOM_VIEW_NAME"/>
  		<result property="roomName" column="ROOM_NAME"/>
  		<result property="checkIn" column="CHECK_IN"/>
  		<result property="bedTypeNo" column="BED_TYPE_NO"/>
  	
  	</resultMap>
  	
 <!-- 예약 전체 조회 -->
  	<select id="getBookCount" resultType="_int">
  		SELECT COUNT(*) FROM BOOK
  	</select>
  	
  	<select id="selectBookList" resultMap="book_rm">
  		SELECT BOOK_NO, TO_CHAR(BOOK_DATE,'YYYY-MM-DD') BOOK_DATE, 
		TO_CHAR(CHECK_IN,'YYYY-MM-DD') CHECK_IN, TO_CHAR(CHECK_OUT,'YYYY-MM-DD') CHECK_OUT, ROOM_PROCESS,
		MEMBER_NAME, PRICE, BOOK_ADULTCOUNT , BOOK_CHILDCOUNT,
		(SELECT ROOM_NUM FROM BOOK_ROOM WHERE BOOK_NO=BOOK.BOOK_NO)AS ROOM_NUM, BED_TYPE_NO
		FROM BOOK
		JOIN "MEMBER" USING(MEMBER_NO)
		ORDER BY 1 DESC
	
  	</select>

	
	 <!-- 예약 검색 조회 -->
	<select id="getBookCount_search" resultType="_int">
		SELECT COUNT(*) 
		FROM BOOK 
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE
		<if test='searchOptionInput!=null and searchOptionInput!=""'>
			<choose>
				<when test='searchOption=="bookerName"'>
					MEMBER_NAME=#{searchOptionInput}
				</when>
				<when test='searchOption=="roomNum"'>
					ROOM_NUM=#{searchOptionInput}
				</when>
				<when test='searchOption=="bookProcess"'>
					BOOK_PROCESS=#{searchOptionInput}
				</when>
			</choose>
			
			<if test='searchDateOptionInput1!=null or searchDateOptionInput2!=null'>
				<choose>
					<when test='searchDateOption=="bookDate"'>
						AND BOOK_DATE BETWEEN #{searchDateOptionInput1} AND #{searchDateOptionInput2}
					</when>
					<when test='searchDateOption=="checkIn"'>
						AND BOOK_DATE BETWEEN #{searchDateOptionInput1} AND #{searchDateOptionInput2}
					</when>
					<when test='searchDateOption=="checkOut"'>
						AND BOOK_DATE BETWEEN #{searchDateOptionInput1} AND #{searchDateOptionInput2}
					</when>
				</choose>
			</if>
		</if>
	
	</select>
	
	<select id="selectBookList_search" resultMap="book_rm">
  		SELECT BOOK_NO, TO_CHAR(BOOK_DATE,'YYYY-MM-DD') BOOK_DATE, 
		TO_CHAR(CHECK_IN,'YYYY-MM-DD') CHECK_IN, TO_CHAR(CHECK_OUT,'YYYY-MM-DD') CHECK_OUT, ROOM_PROCESS,
		MEMBER_NAME, PRICE, BOOK_ADULTCOUNT , (SELECT ROOM_NUM FROM BOOK_ROOM WHERE BOOK_NO=BOOK.BOOK_NO)AS ROOM_NUM
		FROM BOOK
		JOIN "MEMBER" USING(MEMBER_NO)
		
		<if test='searchOptionInput!=null and searchOptionInput!=""'>
		 WHERE
			<choose>
				<when test='searchOption=="bookerName"'>
					MEMBER_NAME=#{searchOptionInput}
				</when>
				<when test='searchOption=="roomNum"'>
					ROOM_NUM=#{searchOptionInput}
				</when>
				<when test='searchOption=="bookProcess"'>
					BOOK_PROCESS=#{searchOptionInput}
				</when>
			</choose>
			
			<if test='searchDateOptionInput1!=null or searchDateOptionInput2!=null'>
				<choose>
					<when test='searchDateOption=="bookDate"'>
						AND BOOK_DATE BETWEEN #{searchDateOptionInput1} AND #{searchDateOptionInput2}
					</when>
					<when test='searchDateOption=="checkIn"'>
						AND BOOK_DATE BETWEEN #{searchDateOptionInput1} AND #{searchDateOptionInput2}
					</when>
					<when test='searchDateOption=="checkOut"'>
						AND BOOK_DATE BETWEEN #{searchDateOptionInput1} AND #{searchDateOptionInput2}
					</when>
				</choose>
			</if>
		</if>
  	</select>
	
	
	<select id="searchRoom" resultMap="room_rm" parameterType="_int">
		SELECT DISTINCT ROOM_VIEW_NAME, ROOM_NAME, BOOK.BED_TYPE_NO BED_TYPE_NO,CHECK_IN, CHECK_OUT 
		FROM BOOK 
		JOIN ROOM_VIEW USING(ROOM_VIEW_NO)
		JOIN ROOM_TYPE USING(ROOM_TYPE_NO)
		WHERE BOOK_NO=#{bookNo}
	</select>

	
	<select id="selectRoom_input" resultMap="room_rm">
	
	 <![CDATA[ 
		SELECT DISTINCT CHECK_IN, CHECK_OUT,BOOK_NO,ROOM_NUM, ROOM_NAME, ROOM_VIEW_NAME,ROOM.BED_TYPE_NO  
		FROM ROOM
		JOIN ROOM_TYPE USING(ROOM_TYPE_NO)
		JOIN ROOM_VIEW USING(ROOM_VIEW_NO)
		LEFT JOIN BOOK_ROOM USING(ROOM_NUM)
		LEFT JOIN BOOK USING(BOOK_NO)
		WHERE (CHECK_OUT <= #{checkIn} OR CHECK_OUT IS NULL)
		AND ROOM_NAME=#{roomName}
		AND ROOM_VIEW_NAME=#{roomViewName}
		AND ROOM.BED_TYPE_NO =#{bedTypeNo}]]>

	</select>
	
	
	
	
	<update id="updateBook" parameterType="Book">
	
		
		UPDATE BOOK SET 
		CHECK_IN=#{checkIn},
		CHECK_OUT=#{checkOut},
		ROOM_PROCESS=#{roomProcess}
		WHERE BOOK_NO=#{bookNo}
	
	</update>
	
	
	<select id="checkBookRoom" resultType="_int">
	SELECT count(*) FROM BOOK_ROOM WHERE BOOK_NO=#{bookNo}
	
	</select>
	
	<insert id="insertBookRoom" parameterType="Book">
		INSERT INTO BOOK_ROOM 
		VALUES(SEQ_BOOK_ROOM_NO.NEXTVAL, DEFAULT
		,#{bookRoomNum}, #{bookNo},#{bedTypeNo})
		
	</insert>
	
	<update id="updateBookRoom" parameterType="Book">
		UPDATE BOOK_ROOM SET
		ROOM_NUM=#{bookRoomNum}
		WHERE BOOK_NO=#{bookNo}
		
	</update>
	
	<delete id="deleteBookRoom" parameterType="Room">
		DELETE FROM BOOK_ROOM
		WHERE BOOK_NO=#{bookNo}
		
	</delete>


</mapper>
