<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bookMapper">

	<resultMap type="Book" id="book_rm">
  		
  		<!-- DB에서 PK에 해당되는 필드, 컬럼명을 작성하는 태그 -->
  		<id property="bookNo" column="BOOK_NO" />
  		
  		<!-- 나머지 일반 컬럼 -->
  		
  		<result property="bookDate" column="BOOK_DATE" />
  		<result property="checkIn" column="CHECK_IN" />
  		<result property="checkOut" column="CHECK_OUT" />
  		<result property="bookProcess" column="BOOK_PROCESS" />
  		<result property="bookMemberNo" column="MEMBER_NO" />
  		<result property="bookMemberName" column="MEMBER_NAME" />
  		<result property="bookGuestNo" column="GUEST_NO" />
  		<result property="bookGuestName" column="GUEST_NAME" />
  		<result property="bookRoomNum" column="ROOM_NUM" />  		
  		<result property="bookPrice" column="PRICE" />
  		<result property="bookPromotion" column="BOOK_PROMOTION" />
  		<result property="bookHeadCount" column="BOOK_HEADCOUNT" />
  	</resultMap>
  	
 
  	<select id="getBookCount" resultType="_int">
  		SELECT COUNT(*) FROM BOOK
  	</select>
  	
  	<select id="selectBook" resultType="string">
  		SELECT TO_CHAR(BOOK_DATE,'YYYY"년"') BOOK_DATE
  		FROM BOOK
  		WHERE BOOK_NO=7
  	</select>
  	
  	<select id="selectBookList" resultMap="book_rm">
  		SELECT BOOK_NO, TO_CHAR(BOOK_DATE,'YYYY-MM-DD') BOOK_DATE, 
		TO_CHAR(CHECK_IN,'YYYY-MM-DD') CHECK_IN, TO_CHAR(CHECK_OUT,'YYYY-MM-DD') CHECK_OUT, ROOM_PROCESS,
		MEMBER_NAME, PRICE, BOOK_HEADCOUNT
		FROM BOOK 
		JOIN "MEMBER" USING(MEMBER_NO)
	
  	</select>

	<update id="updateBook">
		UPDATE BOOK SET 
		BOOK_HEADCOUNT=#{bookHeadCount},
		ROOM_NUM=#{bookRoomNum},
		CHECK_IN=#{checkIn},
		CHECK_OUT=#{checkOut},
		BOOK_PROCESS=#{bookProcess}
		WHERE BOOK_NO=#{bookNo}
	
	</update>
	
	<select id="getBookCount_search" resultType="_int">
		SELECT COUNT(*) 
		FROM BOOK 
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE
		<if test='searchOptionInput!=null and searchOptionInput!=""'>
			<choose>
				<when test='searchOption=="bookerName"'>
					MEMBER_NAME=#{searchOptionInput}
				</when>
				<when test='searchOption=="roomNum"'>
					ROOM_NUM=#{searchOptionInput}
				</when>
				<when test='searchOption=="bookProcess"'>
					BOOK_PROCESS=#{searchOptionInput}
				</when>
			</choose>
			
			<if test='searchDateOptionInput1!=null or searchDateOptionInput2!=null'>
				<choose>
					<when test='searchDateOption=="bookDate"'>
						AND BOOK_DATE BETWEEN #{searchDateOptionInput1} AND #{searchDateOptionInput2}
					</when>
					<when test='searchDateOption=="checkIn"'>
						AND BOOK_DATE BETWEEN #{searchDateOptionInput1} AND #{searchDateOptionInput2}
					</when>
					<when test='searchDateOption=="checkOut"'>
						AND BOOK_DATE BETWEEN #{searchDateOptionInput1} AND #{searchDateOptionInput2}
					</when>
				</choose>
			</if>
		</if>
	
	</select>
	
	<select id="selectBookList_search" resultMap="book_rm">
  		SELECT BOOK_NO, TO_CHAR(BOOK_DATE,'YYYY-MM-DD') BOOK_DATE,
		TO_CHAR(CHECK_IN,'YYYY-MM-DD') CHECK_IN, TO_CHAR(CHECK_OUT,'YYYY-MM-DD') CHECK_OUT, ROOM_PROCESS,
		MEMBER_NAME, ROOM_NUM, PRICE, BOOK_HEADCOUNT
		FROM BOOK 
		JOIN "MEMBER" USING(MEMBER_NO)
		
		<if test='searchOptionInput!=null and searchOptionInput!=""'>
		 WHERE
			<choose>
				<when test='searchOption=="bookerName"'>
					MEMBER_NAME=#{searchOptionInput}
				</when>
				<when test='searchOption=="roomNum"'>
					ROOM_NUM=#{searchOptionInput}
				</when>
				<when test='searchOption=="bookProcess"'>
					BOOK_PROCESS=#{searchOptionInput}
				</when>
			</choose>
			
			<if test='searchDateOptionInput1!=null or searchDateOptionInput2!=null'>
				<choose>
					<when test='searchDateOption=="bookDate"'>
						AND BOOK_DATE BETWEEN #{searchDateOptionInput1} AND #{searchDateOptionInput2}
					</when>
					<when test='searchDateOption=="checkIn"'>
						AND BOOK_DATE BETWEEN #{searchDateOptionInput1} AND #{searchDateOptionInput2}
					</when>
					<when test='searchDateOption=="checkOut"'>
						AND BOOK_DATE BETWEEN #{searchDateOptionInput1} AND #{searchDateOptionInput2}
					</when>
				</choose>
			</if>
		</if>
  	</select>
	


</mapper>
