<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bookMapper">

	<resultMap type="Book" id="book_rm">
  		
  		<!-- DB에서 PK에 해당되는 필드, 컬럼명을 작성하는 태그 -->
  		<id property="bookNo" column="BOOK_NO" />
  		
  		<!-- 나머지 일반 컬럼 -->
  		<result property="bookDate" column="BOOK_DATE" />
  	</resultMap>
  	
  	<select id="getBookCount" resultType="_int">
  		SELECT COUNT(*) FROM BOOK
  	</select>
  	
  	<select id="selectBook" resultType="string">
  		SELECT TO_CHAR(BOOK_DATE,'YYYY"년"') BOOK_DATE
  		FROM BOOK
  		WHERE BOOK_NO=7
  	</select>



</mapper>
