<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cmmMapper">



	<insert id="saveCmmPost" parameterType="CMM">
		INSERT INTO "CMM" VALUES(
		SEQ_CMM_NO.NEXTVAL, #{cmmTitle},#{cmmSub},#{cmmTitleImg},#{cmmConImg},DEFAULT)
	</insert>












</mapper>
