<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="meetingRoomMapper">

	<resultMap type="MeetingRoom" id="meetingRoom_rm">
	
		<id property="meetingBookNo" column="MEETING_BOOK_NO"/>
		<result property="meetingDate" column="MEETING_DATE"/> 
		<result property="meetingBookDate" column="MEETING_BOOK_DATE"/>
		<result property="meetingName" column="MEETING_ROOM_NAME"/>
		<result property="meetingHeadCount" column="MEETING_HEADCOUNT"/>
		<result property="meetingMenName" column="MEETING_MEM_NAME"/>
		<result property="meetingCancelFL" column="MEETING_CANCEL_FL"/>
		<result property="meetingProcess" column="MEETING_PROCESS"/>
		<result property="meetingroomNo" column="MEETING_ROOM_NO"/>
		<result property="meetingMenEmail" column="MEETING_MEN_EMAIL"/>
		<result property="meetingMenPhone" column="MEETING_MEN_PHONE"/>
		<result property="meetingBookCompany" column="MEETING_BOOK_COMPANY"/>
		<result property="meetingBookContent" column="MEETING_BOOK_CONTENT"/>
		
	</resultMap>

	<!-- 미팅룸 예약리스트 조회 -->
 	<select id="selectMeetingRoomList" resultType="list" resultMap="meetingRoom_rm">
 	SELECT MEETING_BOOK_NO,  
	   TO_CHAR(MEETING_DATE,'YYYY-MM-DD') MEETING_DATE,  
	   TO_CHAR(MEETING_BOOK_DATE,'YYYY-MM-DD') MEETING_BOOK_DATE, MEETING_ROOM_NAME,
	   MEETING_HEADCOUNT, MEETING_MEM_NAME, MEETING_CANCEL_FL, MEETING_PROCESS 
	FROM MEETING_BOOK 
	JOIN MEETING_ROOM USING (MEETING_ROOM_NO)
 	</select>
</mapper>
