<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="promotionMapper">

	<insert id="savePromotionPost" parameterType="CMM">
		INSERT INTO "PROMOTION" VALUES(
		SEQ_PROMOTION_NO.NEXTVAL, #{promotionTitle},#{promotionSub},#{promotionTitleImg},#{promotionConImg},
		#{promotionStayStartDate},#{promotionStayEndDate},#{promotionSaleStartDate},#{promotionSaleEndDate},
		#{promotionPrice},DEFAULT)
	</insert>

</mapper>
