#top-photo{
    width: 100%;
  height: 200px;
  background-attachment: fixed;
  background-image: url(/resources/image/nav/rooms/rooms_beyond.jpg);
  background-repeat: no-repeat;
  background-position: 50% 65px;
  background-size: 100% 400px;
  margin: 0 auto;
}

#reservation3_side_area{
    width: 250px;
    display: inline-block;
    /* position:absolute;
    top:50%;
    left:50%; */
    /* 
        javascript 사용
        absolute, fixed 번갈아서
    */
}

#reservation3_side_area *{
    /* border:1px solid black; */
}

.side-table{
    border-top:2px solid black;
    border-bottom:1px solid #bbb;
   
}

.side-date-title,.side-rooms-pack-title,.side-option-title{

    border-bottom:1px solid #bbb;
    font-weight: bold;
    background-color: rgb(245, 245, 245);
    padding:10px 15px;
}

#side-date-content{
    width: 100%;
    font-size: 14px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid black; */
}

#side-date-content tr>td:first-child{
   padding: 10px 5px;
}

#side-date-content tr>td:last-child{
   padding: 10px;
   text-align: right;
}




.side-room-name,.side-option-name{
    font-size: 15px;
    padding:10px 15px;
}

.side-option-name{
    font-weight: bold;
}

.side-room-select{
    font-size:13px;
    width: 100%;
    margin-bottom: 10px;
}

#checkInInput{
    border:none;
    text-align: right;
}
#checkOutInput{
    border:none;
    text-align: right;
}


.side-room-select tr>td:first-child{
    padding: 0 10px;
    color:rgb(136, 136, 136);
}
.side-room-select tr>td:last-child{
   text-align: right;
}

.side-room-select tr>td:last-child>span:first-child{
    color:rgb(136, 136, 136);
}

.side-room-cost-total,.side-option-cost{

    border-top:1px solid #bbb;
    /* border-bottom: 1px solid black; */
    font-size:14px;
    text-align: right;
    padding:15px 0;
}

#total-money{
    width: 100%;
    text-align: center;
    border-top:1px solid black;
    border-bottom:1px solid black;
    padding:20px 5px ;
}

#total-money td:first-child{
    font-weight: bold;
}
#total-money td:last-child{
    color:#777;
}

#option-btn-area{
    padding-top:10px;
    display: flex;
    justify-content: space-around;
}

#option-btn-area>a{
    display: inline-block;
    width: 47%;
    height:40px;
    border:1px solid #777;
    text-decoration: none;
    color:#777;
    text-align: center;

    padding:10px;
    font-size:14px;
    
}

#reservation3-btn{
    display: flex;
    align-items: center;
    justify-content: center;

    margin:auto;
    margin-top:70px;
    width:200px;
    height: 50px;
   
    background-color: #777;
    color:white;
    border:none;
}





/* --------------- 달력 css --------------- */
.sec_cal {
    /* 달력 너비 */
    width: 300px; 
    margin: 0 auto;
    font-family: "NotoSansR";
}

.sec_cal .cal_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 78px; */
}

.sec_cal .cal_nav .year-month,
.sec_cal .cal_nav .year-month1 {
    width: 300px;
    text-align: center;
    line-height: 1;
}

.sec_cal .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next,
.sec_cal .cal_nav .go-prev1,
.sec_cal .cal_nav .go-next1 {
    display: block;
    width: 50px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
}

.sec_cal .cal_wrap {
    /* padding-top: 40px; */
    position: relative;
    margin: 0 auto;
}

.sec_cal .cal_wrap .days {
    display: flex;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
    /* border-bottom: 1px solid #ddd; */
}

.sec_cal .cal_wrap::after {
    top: 368px;
}

.sec_cal .cal_wrap .day,
.sec_cal .cal_wrap .day1 {
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    text-align: left;
    color: #999;
    font-size: 12px;
    text-align: center;
    border-radius:5px
}

.current.today {background: rgb(242 242 242);}
.current1.today {background: rgb(242 242 242);}

.sec_cal .cal_wrap .dates,
.sec_cal .cal_wrap .dates1 {
    display: flex;
    flex-flow: wrap;
    /* 달력 높이 */
    height: 240px;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
    /* color: #3c6ffa; */
}

.sec_cal .cal_wrap .day:nth-child(7n+1),
.sec_cal .cal_wrap .day1:nth-child(7n+1) {
    color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
    visibility: hidden;
}

/* ----------------------- */

#side-date-content select{
    border:none;
}

#nights{
    border:none;
}

#headCount div{
    display: inline-block;
    width: 70px;
    text-align: left;

}
/* ----------------------- */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR&display=swap');

* {
margin: 0;
padding: 0;
/* box-sizing: border-box; */
text-decoration: none;
list-style: none;
/* color: black; */
}

.reservation1-main{
/* border: 1px solid red; */
width: 1000px;

/* height: 1550px; */
min-width: 1000px;
min-height: 500px;
margin:auto;
}

    #top-menu{
        color:rgb(133, 131, 131);
        font-size:14px;
        padding:20px 0;
    }

    #top-menu>a{
        text-decoration: none;
        color:rgb(133, 131, 131);
        padding:0 10px;
    }

    #info-title{
        height: 10%;
        font-family:'나눔명조';
        font-size: 30px;
        margin:20px 0;
    }


/* 메인 영역 - step */
#reservation2_step_area {
	width: 1000px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid black;
}

.reservation2_step {
	box-sizing: border-box;
	width: 200px;
	padding: 0 0 10px 20px;
	background: url(/resources/image/button/btn_paging_next_on.png) 0 0 no-repeat;
	background-position: right;
}

.reservation2_step>p:first-child {
	font-size: 12px;
	color: #bbb;
}

.reservation2_step>p:last-child {
	font-size: 15px;
	color: #777;
	font-weight: bold;
}

#step1 {
	border-bottom: 2px solid black;
}

.bsh-sub-section{

width: 1000px;
height: 420px;
margin: 50px 0;

display: flex;
justify-content: space-between;

}

.bsh-leftbox{
width: 710px;
height: 420px;
position: relative;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
/* background-color: red; */
}


.bsh-checking {
float: left;
width: 50%;
box-sizing: border-box;
}

.bsh-checking strong.bsh-tit {
display: block;
background: #f9f9f9;
text-align: center;
padding: 15px 0;
font-size: 14px;
font-weight: 400;
}


.mention {
padding: 0 20px 20px 0;
width: 100%;
text-align: right;
}

.mention li {
position: relative;
display: inline-block;
padding: 0 0 0 20px;
font-size: 13px;
color: #666;
margin-left: 10px;
}

.mention li.m2:before {
content: "";
position: absolute;
left: 0;
top: 3px;
width: 15px;
height: 15px;
background: #333;
}

.item_calendar tbody>tr>td.in_active strong {
color: #fff !important;
}



table.normal.right_box td {
text-align: right;
padding-right: 17px;
/* background-color: red; */
}


.bsh-sub-section{
font-family: 'Noto Sans KR', sans-serif;
}













/* ************************** 중간 안내문구 ************************** */


.info_txt {
background: #f8f8f8;
padding: 40px;
font-size: 13px;
line-height: 26px;
color: #333;
}

.btnCenterGroup {
padding: 30px 0 0;
background: #fff;
text-align: center;
}

button {
background: #333333;
color: #fff;
}

a.btn,button {
display: inline-block;
margin-left: 4px;
width: 210px;
height: 58px;
background: #231f20;
font-size: 17px;
line-height: 60px;
/* font-family: 'nSquare'; */
color: #fff;
text-align: center;
transition: all 0.3s ease;
}

a.btn:hover{
transition: all 0.3s ease;
background: #5e5a5b;
}

a.btn.white {
border: 2px solid #b3b3b3;
background: #fff;
line-height: 56px;
color: #333333;
}

a.btn.white:hover{
border: 2px solid #155d6e;
background: #fff;
line-height: 56px;
color: #333333;
transition: all 0.3s ease;
}

/* 툴팁 */
/* 툴팁 */
.tooltip {
	cursor: pointer;
	position: relative;
	margin: auto;
}

.tooltip .tooltip-text {
	visibility: hidden;
	transition: 0.5s;
	padding: 10px;
	width: 150px;
	border: 1px solid #a4a4a4;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	bottom: 30px;
	left: 30px;
	margin-left: -100px;
	background-color: white;
	text-align:left;
}

.tooltip .tooltip-text::after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 75px;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	background-color: transparent;
	border-color: #a4a4a4 transparent transparent;
	z-index: -1;
}

.tooltip .tooltip-text::before {
  content: "";
	position: absolute;
	bottom: -18px;
	left: 75px;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	background-color: transparent;
	border-color: white transparent transparent transparent;
	z-index: 1;
} 

.tooltip:hover .tooltip-text {
	visibility: visible;
}

.tooltip-text> div{
	font-size: 12px;
}
.tooltip-text> div:last-child{
	color:red;
	font-weight:bold;
}

#schedule-info {
	vertical-align: middle;
}