@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR&display=swap');

/*=========[ 기본 뼈대 ]========= */
.board-lookUp-page{
    margin: 0 auto 0 auto;
    width: 100%;
    min-height: 850px;
    background-color: #FFFFFF;
}

.board-head-area, .board-foot-area{
    height: 150px;
    background-color: #FFFFFF;
}
.board-body-area{
    width: 1500px;
    min-height: 700px;
    background-color:#FFFFFF ;
    margin: 0 auto 0 auto;
}


/*=========[ 상단 영역 ]========= */
.board_head_area{
    display: flex;
    flex-direction: column;
}
#board_title{
    width: 1500px;
    height: 150px;
    background-color:#FFFFFF ;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#board_title>div:first-child{
    font-size: 13px;
    color: rgb(87, 87, 87);
    padding: 13px 0;
    margin-left: 0;
    width: 1500px;
}
#board_title>div:last-child{
    font-size: 33px;
    padding-top: 18px;
    height: 83px;
    margin-left: 0;
    width: 1500px;
    letter-spacing: -1px;
    font-family: 'Nanum Myeongjo';
}
/* =======[목록 돌아가기]======== */

#board_return a{
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 30px;
    border: 2px solid #ccc;
    background-color: #ccc;
    color: white;
    text-decoration: none;
    line-height: 27px;
    font-size: 15px;
    text-align: center;
    float: right;
}
/* =======[게시판 영역]======= */

#board-post{
    padding: 10px;
    text-align: right;
    display: flex;
    justify-content: center;
}
#board-post > .save{
    display: block;
    width: 210px;
    height: 58px;
    line-height: 56px;
    border: 2px solid #ccc;
    background-color: #ccc;
    color: white;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}
#board-post > .save:hover, #board_return a:hover{
    border: 2px solid #656565;
    background-color: #656565;
    transition: 0.3s;
}
#board_table {
    border-top: 2px solid black;
    width: 100%;
    height: auto;
    border-collapse: collapse;
    margin-bottom: 50px;
}
#board_table th{
    background-color: #f9f9f9;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid black;
    width: 350px;
    height: auto;
}
#board_table th, td{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.detail {
    padding: 5px;
    margin-left: 20px;
    color: rgb(37, 37, 37);
}


/* ======[등록 및 수정]====== */
input{
    height: 40px;
    width: 100%;
    border: none;
    margin: 5px;
}
#inputTitleImg, #inputConImg{
		display:none;
}

/* 이미지 선택 버튼, 삭제 버튼 */
.select-area> label{
	width: 110px;
    height: 33px;
    padding: 5px 10px;

    border: 2px solid #ddd;
    background-color: #f9f9f9;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}
.deleteBtn {
    height: 33px;
    padding: 5px 10px;

    border: 2px solid #ddd;
    background-color: #f9f9f9;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
.select-area> label:hover, .deleteBtn:hover{
    background-color: #ddd;
    transition: 0.3s;
}
/* 기간 입력 */
.date-area input {
    width: 40% !important;
}


