#promotion_page{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
}
#promotion_head_area, #promotion_foot_area{
    height: 150px;
    background-color: #FFFFFF
}
#promotion_body_area{
    width: 1000px;
    height: auto;
    background-color:#FFFFFF ;
    margin: 0 auto 0 auto;
}

/* 이미지 */
#promotion_image{
    width: 100%;
    height: 185px;
    background-attachment: fixed;
    background-image: url(/image/visual_promotion.jpg);
    background-repeat: no-repeat;
    background-position: 50% 65px;
    background-size: 1800px 400px;
    margin: 0 auto;
}

/* 상단영역 */
#promotion_head_area{
    display: flex;
    flex-direction: column;
}
#promotion_title{
    width: 1000px;
    height: 150px;
    background-color:#FFFFFF ;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#promotion_title>div:first-child{
    font-size: 13px;
    color: rgb(87, 87, 87);
    padding: 13px 0;
    margin-left: 0;
    width: 1000px;
}
#promotion_title>div:last-child{
    font-size: 33px;
    padding-top: 18px;
    height: 83px;
    margin-left: 0;
    width: 1000px;
    letter-spacing: -1px;
}


/* 내용 */
#promotion_detail_title{
    width: 1000px;
    padding: 18px 30px 17px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
}
#promotion_detail_title>div:first-child{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
#promotion_detail_title>div:last-child{
    margin: 0;
    border: 2px solid #b3b3b3;
    padding-top: 2px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#promotion_detail_title>div:last-child>a{
    font-size: 15px;
    text-decoration: none;
    color: #333333;
    line-height: 36px;
    text-align: center;
    font-weight: bold;
    width: 150px;
    height: 40px;
}
#promotion_detail_date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    padding: 18px 30px 17px;
    border-bottom: 1px solid black;
}
#promotion_detail_date> .detail{
    margin: 0;
}
#promotion_detail_date strong{
    margin-right: 20px;
    color: black;
}
#promotion_detail_date> .price{
    margin-right: 100px;
    font-weight: bold;
    color: #4d7b9c;
}
#promotion_detail_content{
    padding: 40px 0px 80px;
    border-bottom: 2px solid #e7e7e7;
}
#promotion_menu_return{
    margin:80px 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#promotion_menu_return> div{
    width: 210px;
    height: 58px;
    text-align: center;
    cursor: pointer;
}
#promotion_menu_return a{
    display: block;
    margin: 0 auto;
    width: 210px;
    height: 58px;
    border: 2px solid #b3b3b3;
    color: #333333;
    text-decoration: none;
    line-height: 56px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}
