/*=========[ 기본 뼈대 ]========= */
.reservation-lookUp-page{
    margin: 0 auto 0 auto;
    width: 100%;
    height: 100%;
    background-color: white;
}
.rsc-head-area{
 /* width: 100%; */
 height: 150px;
/*  background-color: greenyellow;
 */}


.rsc-foot-area{
    /* width: 100%; */
    height: 150px;
/*     background-color: greenyellow;
 */}

.rsc-body-area{
    width: 1000px;
    height: auto;
/*     background-color:rgb(201, 191, 191) ; */
     margin: 0 auto 0 auto;
    /* border-bottom: 2px solid #e7e7e7 */
}
.rsc-main-side{
    width: 80%;
    width: 1000px;
    min-width: 1000px;
}

/*=========[ 기본 뼈대 ]========= */





.kjh-head-area{
    /* width: 100%; */
    background-image: url(/resources/image/nav/rooms/rooms_beyond.jpg);
    width: 100%;
    height: 185px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 65px;
    background-size: 100% 400px;
    margin: 0 auto;
    
}

.kjh-page-list{
    margin-top: 20px;
}

.kjh-page-list>a{
    text-decoration: none;
    color: #767676;
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
}


.kjh-title h1{
    font-size: 33px;
    font-weight: 500;
}

.kjh-title {
    position: relative;
    margin: 40px 0 25px;
    
}
.kjh-title a{
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    text-decoration: none;
    border: 2px solid #b3b3b3;
    padding: 10px;
    color : black;
}

.room-list-div li{
    width: 485px;
    float: left;
    margin: 0 30px 0 0;
}

.room-list-div a {
    text-decoration: none;
    color: black;
}

.room-list-ul{
    list-style: none ;
    margin-top: 16px;
    padding: 0;
    display: inline-block;
}

.room-list-div li:nth-child(2n){
    margin-right: 0;
 }


ul li a span img{
    width: 485px;
    height: 335px;  
}

ul strong{
 /* background-color: red; */
 font-size: 22px;
 font-weight: 500;
 height: 29px;
 margin: 0 0 5px -5px;
}

ul span:nth-child(3){
    font-size: 16px;
}

.room_info{
    margin: 20px 15px 30px ;
    height: 100px;
    /* background-color: orange; */

}
.room_info strong{
    font-size: 30px;
/*     border: 1px solid black; */
}

.room_info span{
    display: inline-block;
    margin-top: 12px;
}

.reservation-content-main{
    border-bottom:  1px solid #e7e7e7;

}
/* li a{
    padding: 0;
    margin-right: 20px;
    overflow: hidden;

} */
/* .list-frame{
    display: block;
    position: relative;
    top: 0;
    left: 0;
} */

/* ************ footer ************* */

footer{

    display:flex;

    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

}

#footer-first{
    background-color: rgb(61, 61, 61);

    display: flex;
    justify-content: center;
    align-items: center;

}


#footer-first>p{
    
    color:rgb(144, 143, 143);

}

#inner-footer-contact{
   
    width: 1400px;
    display: flex;
    align-items: baseline;
    justify-content: center;
   
}



#inner-footer-contact>table{
    color:white;
    margin:20px 0;
    width:800px
}

#inner-footer-contact>table:first-child{
    padding-right: 50px;
}

.float-right{
    float:right;
    padding-right: 40px;
}


.book-btn2{

    text-decoration: none;
    color:white;

    border:1px solid black;
    height: 70px;
    width: 150px;

    background-color: rgb(92, 91, 91);

    position:relative;

    /* left:1200px;
    top: 120px; */


    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    top:30px;
}



/* ******************* 가운데 메뉴 ******************** */


#footer-middle-back{
    background-color: rgb(131, 128, 128);
    height:200px;

    display: flex;
    /* justify-content: space-around; */
}

#footer-middle{

    width: 1400px;
    display:flex;

    justify-content: center;
    /* justify-content: space-between; */
    position:relative;
    padding-left: 1px;
}




#footer-middle ul{
    width: 100px;
    margin-top: 30px;
    padding:0 10px;

    flex-basis: 120px;
}

#footer-middle>ul>p{
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#footer-middle li{
    line-height:25px;
}

#footer-middle *{
    color:white;
    text-decoration: none;
    list-style: none;
    font-size: 12px;
}


/************ footer 하얀부분 ***************/

#footer-last{
    display:flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#footer-last>img{
    width: 180px;
    margin:20px 50px;
}

#footer-last *{
    color:gray;
    letter-spacing: 1px;
}

#footer-last a{
    text-decoration: none;
    margin:px 20px;
}

#footer-last>p{
    font-size: 15px;
    line-height:20px;
}

#footer-last>span{
    margin-top:10px;
    /* 아래에 간격 추가해야됨 */
    margin-bottom: 80px;
}

#small-text{
    letter-spacing:0px;
    font-size: 11px;
}
#small-font{
    letter-spacing:0px;
    font-size: 5px;
}

#inner-footer-contact p{
    font-size: 18px;
    margin-bottom: 10px;
    color:rgb(136, 134, 134);
}
