/*=========[ 기본 뼈대 ]========= */
.reservation-lookUp-page{
    margin: 0 auto 0 auto;
    width: 100%;
    height: 100%;
    background-color: white;
}
.rsc-head-area{
 /* width: 100%; */
 height: 150px;
/*  background-color: greenyellow;
 */}


.rsc-foot-area{
    /* width: 100%; */
    height: 150px;
/*     background-color: greenyellow;
 */}

.rsc-body-area{
    width: 1000px;
    height: auto;
/*     background-color:rgb(201, 191, 191) ; */
     margin: 0 auto 0 auto;
    border-bottom:  1px solid black;
    /* border-bottom: 2px solid #e7e7e7 */
}
.rsc-main-side{
    width: 80%;
    width: 1000px;
    min-width: 1000px;
}

/*=========[ 기본 뼈대 ]========= */





.kjh-head-area{
    background-image: url("/resources/image/nav/rooms/rooms_beyond.jpg");
    width: 100%;
    height: 185px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 65px;
    background-size: 100% 400px;
    margin: 0 auto;
    
}

.kjh-page-list{
    margin-top: 20px;
}

.kjh-page-list>a{
    text-decoration: none;
    color: #767676;
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
}
.kjh-h1{
    margin : 35px auto 20px;
}


.kjh-title{
    position: relative;
}
.kjh-title a{
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    color : black;
}

.kjh-sub-section{    /* 설명, 버튼, 주의사항 */
    margin-top: 60px;
    margin-bottom: 60px;

    
}
.kjh-content{
    font-size: 16px;
    letter-spacing: -1px;
    font-weight: 700;
}
/* =========테이블 ========== */

.kjh-tbl{
    width: 1000px;
    border-top: 2px black solid;
}

.kjh-border{
    width: 1000px;
}

.kjh-tbl td,th{
    border-bottom: 1px solid #c9c9c9;
    padding: 20px 0 18px 35px;
}

.kjh-tbl .kjh-yes th{
    border-bottom: 1px solid #c9c9c9;
}

.kjh-tbl .kjh-no td,th{
    border: none;
}

.kjh-yes th{
    padding-left: 40px;
}
.kjh-no th.kjh-sub{
    padding-left: 40px;
    text-align: left;
}


.kjh-border{
    
}

.kjh-border th{
    padding-left: 40px;
    /* border : 1px solid blue; */
}


.kjh-border td{
}

.kjh-border .kjh-sub{
}


.kjh-tbl .kjh-no td{
}



.kjh-border {
    border-collapse: collapse;

}

.kjh-blank{
    height: 200px;
}

.kjh-member-delete{
text-decoration: none;
color: bla;
}

/* --------------------------------------------- */

#slide-photo{
    width:1000px;
    height:580px;
    position: relative;
}

.move{
    position: absolute;
    font-size: 60px;
    cursor: pointer;

    top:235px;
    color:white;
    font-family: "나눔명조", sans-serif;
}

.next{
    right:0;
}


/* ----------------- */



/* 상단 페이지 리스트 */
.bsh-path {
    width: 1000px;
    height: 50px;
    margin: 0 auto;
}

.bsh-path ol {
    padding: 0;
}

.bsh-path li {
    display: inline-block;
}

.bsh-path a {
    font-size: 13px;
    text-decoration: none;
    color: #767676;
    font-family: 'Noto Sans KR', sans-serif;
    padding-right: 0 8px 0 8px;
}

/* 메인 제목 */
.bsh-main-title h1 {
    width: 1000px;
    height: 58px;
    margin: 0 auto;
    font-size: 33px;
    font-family: 'Nanum Myeongjo';
    letter-spacing: -1px;
    font-weight: 300;
}