/*=========[ 기본 뼈대 ]========= */
.reservation-lookUp-page{
    margin: 0 auto 0 auto;
    width: 100%;
    height: 100%;
/*     background-color: blueviolet;
 */}
.rsc-head-area,.rsc-foot-area{
    /* width: 100%; */
    height: 150px;
/*     background-color: greenyellow;
 */}
.rsc-body-area{
    width: 1000px;
    min-height: 1200px;

/*     background-color:antiquewhite ;
 */    margin: 0 auto 0 auto;
}
.rsc-main-side{
    width: 80%;
    width: 1000px;
    min-width: 1000px;
}


/*=========[ 기본 뼈대 ]========= */
.kjh-head-area{
    background-image: url(/resources/image/visual_promotion.jpg);
    width: 100%;
    height: 185px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 65px;
    background-size: 100% 400px;
    margin: 0 auto;
}

.kjh-page-list{
    margin-top: 20px;
}

.kjh-page-list>a{
    text-decoration: none;
    color: #767676;
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
}


.kjh-h1{
    
    margin: 10px auto;
    
    padding: 30px 0 0 0;
}


.kjh-main-border{
    width: 1000px;
    height: auto;
/*     border: 1px solid black;
 */    margin: 0 auto;
}

.kjh-main-container{
    padding: 20px;
}
.kjh-h4{
    margin-bottom: 10px;
}

.kjh-txt{
    float: right;

}

.kjh-form1-table{
    margin-bottom: 50px;
}

.kjh-form1-table,.kjh-form2-table{
    border-top: 2px solid black;
    border-collapse: collapse;
    width: 100%;

}

.star{
    color: red;
}

.kjh-input input[type="text"]{
    height: 35px;
    padding: 0 20px;
    border: 1px solid #cdcdcd;
}
.kjh-input input[type="password"]{
    height: 35px;
    padding: 0 20px;
    border: 1px solid #cdcdcd;
}

.kjh-select{
    width: 70px;
    height: 35px;
    border: 1px solid #cdcdcd;

}

.kjh-address{
    margin-top: 5px;
}

.kjh-married input[type="text"]{
    width: 75px;
    height: 35px;
    padding: 0 20px;
    border: 1px solid #cdcdcd;
   
}


/* ===============테이블1=================== */

.kjh-form1-table td,th{
   border-bottom: 1px solid #c9c9c9;
}

.kjh-form1-table th{
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;

    width: 15%;
    padding: 0 0 0 10px;
    text-align: left;
 }

 .kjh-form1-table td{
    border-left: 1px solid #c9c9c9;
    
    padding: 20px 0 18px 35px;
 }

 .kjh-form1-table td +th{
    border-left: 1px solid #c9c9c9;
 }


 .kjh-form1-table,.kjh-form2-table{
    border-top: 1px solid black;
    border-collapse: collapse;
    width: 100%;

}
.kjh-form1-table input[type=button].btn{
    height: 35px;
    padding: 0 10px;
    background: #aaa;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    border: none;
}

.kjh-form1-table select{
    width: 80px;
    height: 35px;
    font-size: 15px;
    padding: 0 20px;
    border: 1px solid #cdcdcd;
}

.kjh-form1-table select:first-of-type{
    width: 200px;
   
}



 /* ======================================== */

/* ===============테이블2=================== */

.kjh-form2-table td,th{
   border-bottom: 1px solid black;
}

.kjh-form2-table th{
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    width: 15%;
    padding: 15px 0 18px 20px;
    text-align: left;
 }

 .kjh-form2-table td{
    border-left: 1px solid black;
    border-bottom: 1px solid #c9c9c9;

    padding: 20px 0 18px 35px;
 }

 .kjh-form2-table input[type=button].btn2{
    height: 35px;
    padding: 0 10px;
    background: #aaa;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    border: none;
}

 .kjh-married{
    font-size: 12px;
    color: #666;
 }


 .kjh-member-delete{
    color: black;
    text-decoration: none;
    border : 1px solid #a4a4a4;
    width: 130px;
    height: 40px;
    padding: 12px 37px;
}
.kjh-member-delete:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}

.kjh-btn-yn{
    text-align: center;
    padding: 30px 0 0;
    margin-top: 20px;
}

.kjh-btn-yn > button{
    display: inline-block;
    width: 210px;
    height: 60px;
    font-size: 17px;
    line-height: 60px;

}

.submit-btn{
    background-color: #8c8c8c;
    color: white;
    text-decoration: none;
    border : 1px solid #aaa ;
    cursor: pointer;
}

.cancle-btn{
    border: 2px solid #b3b3b3;
    text-decoration: none;
    background-color: white;
    cursor: pointer;
}

 /* ======================================== */

.hide{
    display: none;
}

.kjh-btn{
    background-color: #aaa;
    height: 35px;
    color: white;
    padding: 0 10px;
    border : 1px solid #aaa ;
    line-height: 35px;
    cursor: pointer;
 }

 #info{
    font-size: 5px;
    color: #8c8c8c;
    margin-top: 1px;
 }