/*=========[ 기본 뼈대 ]========= */
.reservation-lookUp-page{
    margin: 0 auto 0 auto;
    width: 100%;
    height: 100%;
/*     background-color: blueviolet;
 */}
.rsc-head-area,.rsc-foot-area{
    /* width: 100%; */
    height: 150px;
/*     background-color: greenyellow;
 */}
.rsc-body-area{
    width: 1000px;
    min-height: 1200px;

/*     background-color:antiquewhite ;
 */    margin: 0 auto 0 auto;
}
.rsc-main-side{
    width: 80%;
    width: 1000px;
    min-width: 1000px;
}


/*=========[ 기본 뼈대 ]========= */

/* ***************** 여기부터 헤더 ***************** */
*{
    box-sizing: border-box;

    /* HTML 요소가 가지고 있는 고유한 padding, margin을 모두 없앰 */
    padding:0;
    margin:0;

    }

#header>div{
    width:1000px;
    height:110px;
    margin:auto; 

    /* justify-content: center; */
    /* align-items: center; */
}

#header>div>a{
    display: flex;
    justify-content: center;
}

/* 헤더 오른쪽 상단 메뉴 */







/* ***************** 여기까지 헤더 ***************** */

.kjh-h1{
    margin: 40px auto;
    
    padding: 40px 0 20px 0;
}
.kjh-h2{
    
    margin-bottom: 20px;
    clear: both;
}
.kjh-h4{
    margin-bottom: 30px;
}

li{
list-style: none;    
}

/* 회원가입 프로세스 */
#kjh-signUp-process{
    display: flex;
    flex-direction: row;
    

}
#kjh-signUp-process div{
    text-align: left;
    width: 33%;
    height: 60px;
    padding: 0 0 20px 20px;
    color: #aaa;
    border-bottom: 1px solid black;

}
#kjh-signUp-process div:first-child{
    border-bottom: 3px solid #000000; 
    color : black;
}


/* .kjh-step-blank{
    margin: 0;
    border-top: 1px solid black;
    width: auto;
    height: 15px;
} */


.kjh-main-border{
    width: 1000px;
    height: auto;
    border: 1px solid #e5e5e5; /* 이해불가 */
    margin: 70px auto;
}

.kjh-main-container{
 padding: 50px;
 
}

.kjh-txt{
    float: right;

}

.kjh-subtxt{
	display : block;
	margin-top: 5px;
	font-size : 12px;
	color: #666;
}

.kjh-form1-table{
    margin-bottom: 50px;
}

.kjh-form1-table,.kjh-form2-table{
    border-top: 2px solid black;
    border-collapse: collapse;
    width: 100%;

}

.star{
    color: red;
}

.kjh-input input[type="text"]{
    height: 35px;
    padding: 0 20px;
    border: 1px solid #cdcdcd;
}
.kjh-input input[type="password"]{
    height: 35px;
    padding: 0 20px;
    border: 1px solid #cdcdcd;
}

.kjh-select{
  width: 80px;
    height: 40px;
    border: 1px solid #cdcdcd;
    padding-left: 10px;


}
.kjh-address.email{
    width: 220px;
    padding: 0 20px;

} 
.kjh-select option{
    color: #666;
    padding: 0;
    white-space: nowrap;
    font-weight: normal;
    display: block;
    font-size: 15px;
    text-align: start;
}


.kjh-address{
    margin-top: 5px;
}

.kjh-address.a{
    background-color: #eee;
}

.kjh-married input[type="text"]{
    width: 75px;
    height: 35px;
    padding: 0 20px;
    border: 1px solid #cdcdcd;
   
}


/* ===============테이블1=================== */

.kjh-form1-table td,th{
   border-bottom: 1px solid #c9c9c9;
}

.kjh-form1-table th{
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;

    width: 15%;
    padding: 15px 0 18px 20px;
    text-align: left;
 }

 .kjh-form1-table td{
    border-left: 1px solid #c9c9c9;
    
    padding: 20px 0 18px 20px;
 }

 .kjh-form1-table td +th{
    border-left: 1px solid #c9c9c9;
 }


 .kjh-form1-table,.kjh-form2-table{
    border-top: 1px solid black;
    border-collapse: collapse;
    width: 100%;

}
.kjh-form1-table input[type=button].btn{
    height: 35px;
    padding: 0 10px;
    background: #aaa;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    border: none;
}

.kjh-form1-table select{
/*     width: 80px;
 */    height: 35px;
    font-size: 15px;
    border: 1px solid #cdcdcd;
    
}

/* .kjh-form1-table select:first-of-type{
    width: 200px;
   
}  */

 /* ======================================== */

/* ===============테이블2=================== */

.kjh-form2-table td,th{
   border-bottom: 1px solid black;
}

.kjh-form2-table th{
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    width: 15%;
 }

 .kjh-form2-table td{
    border-left: 1px solid black;
    border-bottom: 1px solid #c9c9c9;

    padding: 20px 0 18px 20px;
 }

 .kjh-form2-table input[type=button].btn2{
    height: 35px;
    padding: 0 10px;
    background: #aaa;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    border: none;
}

 .kjh-married{
    font-size: 12px;
    color: #666;
 }
 
 .kjh-btn{
    padding: 60px 0 0 0;
    text-align: center;
}

 .kjh-btn button{
    display: inline-block;
    height: 60px;
   
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    line-height: 60px;

    
 }

 button.btn-a{
    background-color: #231f20;
    color: white;
    display: inline-block;
    width: 210px;
 }

 button.btn-b{
    width: 125px;
    color: black;
    border: 1px solid #a4a4a4;
 }
 

 /* ======================================== */

 /* ************ footer ************* */

footer{

    display:flex;

    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

}

#footer-first{
    background-color: rgb(61, 61, 61);

    display: flex;
    justify-content: center;
    align-items: center;

}


#footer-first>p{
    
    color:rgb(144, 143, 143);

}

#inner-footer-contact{
   
    width: 1400px;
    display: flex;
    align-items: baseline;
    justify-content: center;
   
}



#inner-footer-contact>table{
    color:white;
    margin:20px 0;
    width:800px
}

#inner-footer-contact>table:first-child{
    padding-right: 50px;
}

.float-right{
    float:right;
    padding-right: 40px;
}


.book-btn2{

    text-decoration: none;
    color:white;

    border:1px solid black;
    height: 70px;
    width: 150px;

    background-color: rgb(92, 91, 91);

    position:relative;

    /* left:1200px;
    top: 120px; */


    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    top:30px;
}



/* ******************* 가운데 메뉴 ******************** */


#footer-middle-back{
    background-color: rgb(131, 128, 128);
    height:200px;

    display: flex;
    /* justify-content: space-around; */
}

#footer-middle{

    width: 1400px;
    display:flex;

    justify-content: center;
    /* justify-content: space-between; */
    position:relative;
    padding-left: 1px;
}




#footer-middle ul{
    width: 100px;
    margin-top: 30px;
    padding:0 10px;

    flex-basis: 120px;
}

#footer-middle>ul>p{
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#footer-middle li{
    line-height:25px;
}

#footer-middle *{
    color:white;
    text-decoration: none;
    list-style: none;
    font-size: 12px;
}


/************ footer 하얀부분 ***************/

#footer-last{
    display:flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#footer-last>img{
    width: 180px;
    margin:20px 50px;
}

#footer-last *{
    color:gray;
    letter-spacing: 1px;
}

#footer-last a{
    text-decoration: none;
    margin:px 20px;
}

#footer-last>p{
    font-size: 15px;
    line-height:20px;
}

#footer-last>span{
    margin-top:10px;
    /* 아래에 간격 추가해야됨 */
    margin-bottom: 80px;
}

#small-text{
    letter-spacing:0px;
    font-size: 11px;
}
#small-font{
    letter-spacing:0px;
    font-size: 5px;
}

#inner-footer-contact p{
    font-size: 18px;
    margin-bottom: 10px;
    color:rgb(136, 134, 134);
}
