/*=========[ 기본 뼈대 ]========= */
.reservation-lookUp-page{
    margin: 0 auto 0 auto;
    width: 100%;
    height: 100%;
/*     background-color: blueviolet;
 */}
.rsc-head-area,.rsc-foot-area{
    /* width: 100%; */
    height: 150px;
/*     background-color: greenyellow;
 */}
.rsc-body-area{
    width: 1000px;
    min-height: 1200px;

/*     background-color:antiquewhite ;
 */    margin: 0 auto 0 auto;
}
.rsc-main-side{
    width: 80%;
    width: 1000px;
    min-width: 1000px;
}


/*=========[ 기본 뼈대 ]========= */

.kjh-head-area{
    background-image: url(/resources/image/nav/dining/diningChichiBeyond.jpg);
    width: 100%;
    height: 185px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 65px;
    background-size: 100% 400px;
    margin: 0 auto;
}

.kjh-page-list{
    margin-top: 20px;
}

.kjh-page-list>a{
    text-decoration: none;
    color: #767676;
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
}

.kjh-h1{
    margin : 35px auto 20px;
}
.kjh-border{
    width: 1000px;
    height: 200px;
/*     border : 1px red solid;
 */    border-top: 3px black solid;
}



/* ============== 서브섹션 ================= */
.kjh-sub-section{    /* 설명, 버튼, 주의사항 */
    margin-top: 60px;
}

.kjh-content{
    font-size: 16px;
    letter-spacing: -1px;
}

.kjh-btn{
    margin-top: 80px;
}

.kjh-btn a{
    border: 1px solid #333333;
    text-decoration: none;
    color: white;
    background-color: #333333;
    padding: 15px 50px 15px;
    letter-spacing: -1px;
    font-size: 16px;

}

.kjh-gray_box{
    margin-top: 80px;
    background-color: #f8f8f8;
    padding: 15px;
    letter-spacing: -1px;
    font-size: 16px;
    margin-bottom: 60px;
    color: #666;
}



/* ============== 테이블 ================= */
.kjh-border {
    border-collapse: collapse;

} 
.kjh-border > tr td{
    border-bottom: 0;
}

.kjh-tbl td{
    border-bottom: 1px solid black;
    padding: 25px;
    
}

.kjh-tbl .kjh-no td{
    border-bottom: 0 ;
}

.kjh-tbl{
    margin-bottom: 90px;
}

.kjh-last{
    margin-left: -20px;
}

/* ======================================== */

 /* --------------------------------------------- */

#slide-photo{
    width:1000px;
    height:580px;
    position: relative;
}

.move{
    position: absolute;
    font-size: 60px;
    cursor: pointer;

    top:235px;
    color:white;
    font-family: "나눔명조", sans-serif;
}

.next{
    right:0;
}


/* ----------------- */


/* 상단 페이지 리스트 */
.bsh-path {
    width: 1000px;
    height: 50px;
    margin: 0 auto;
}

.bsh-path ol {
    padding: 0;
}

.bsh-path li {
    display: inline-block;
}

.bsh-path a {
    font-size: 13px;
    text-decoration: none;
    color: #767676;
    font-family: 'Noto Sans KR', sans-serif;
    padding-right: 0 8px 0 8px;
}

/* 메인 제목 */
.bsh-main-title h1 {
    width: 1000px;
    height: 58px;
    margin: 0 auto;
    font-size: 33px;
    font-family: 'Nanum Myeongjo';
    letter-spacing: -1px;
    font-weight: 300;
}
	