/*=========[ 기본 뼈대 ]========= */
.reservation-lookUp-page{
    margin: 0 auto 0 auto;
    width: 100%;
    height: 100%;
/*     background-color: blueviolet;
 */}
.rsc-head-area,.rsc-foot-area{
    /* width: 100%; */
    height: 150px;
/*     background-color: greenyellow;
 */}
.rsc-body-area{
    width: 1000px;
    min-height: 1200px;

/*     background-color:antiquewhite ;
 */    margin: 0 auto 0 auto;
}
.rsc-main-side{
    width: 80%;
    width: 1000px;
    min-width: 1000px;
}


/*=========[ 기본 뼈대 ]========= */

/* ***************** 여기부터 헤더 ***************** */
*{
    box-sizing: border-box;

    /* HTML 요소가 가지고 있는 고유한 padding, margin을 모두 없앰 */
    padding:0;
    margin:0;

    }

#header>div{
    width:1000px;
    height:110px;
    margin:auto; 

    /* justify-content: center; */
    /* align-items: center; */
}

#header>div>a{
    display: flex;
    justify-content: center;
}

/* 헤더 오른쪽 상단 메뉴 */
#header-top-menu{
    position:relative;

    left:86%;
    top:-90%;
    
}

#header-top-menu a{
    text-decoration: none;
    color:black;
    font-weight: 1px;
    font-size: 12px;

    margin:15px;
}

#media-menu{
    position:relative;

    left:90%;
    top: -70%;
}

#media-menu>a{
    text-decoration: none;
    color:gray;
    font-size: 14px;


    border:1px solid gray;
    padding : 3px 5px;
}


/********************* #nav-area **********************/
#nav-area{
   
   height:60px;

   border-bottom: 1px solid black;
   border-top: 1px solid black;
   background-color: rgba(255, 255, 255, 0.665);

   /* 화면 밖으로 요소가 벗어났을 때 지정된 위치에 고정 */
   position: sticky;
   top:0px;
   z-index:100; 
}


/* ul 스타일 지정 */
/* 줄어들었을 때 좀 잘리게 하는거 어떻게하려나 */
#nav-area>ul{
   
   /* 비율상 이부분 수정 */
   /* width: 1200px; */
   justify-content: center;
   /* margin-left: 80px; */


   padding:0;
   list-style: none;

   display: flex;
   height: 100%;

}

/* 네비게이터 메뉴 */
#nav-area li{
   flex-basis: 140px;
   width: 140px;
   /* flex-wrap: wrap; */

   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

/* 메뉴 내부 a 태그 */
#nav-area>ul>li>a{
   cursor: pointer;
   
   text-decoration: none;
   font-size: 15px;
   color:black;

   /* display: block; */
   
   display: flex;
   justify-content: center;
   align-items: center;

   /* position: relative; */
   /* 내부에 작성된 글자를 요소로 취급해서 정가운데 배치 */

   /* border-radius: 5px; */
   transition-duration: 0.1s;
}


#nav-area>ul>li>#book-btn{
   text-decoration: none;
   color:white;

   border:1px solid black;
   height: 100px;
   width: 100px;

   background-color: rgb(92, 91, 91);

   position:absolute;

   z-index: 20;

   display: flex;
   flex-direction: column;

   justify-content: center;
   align-items: center;
   top:0;
}

#book-btn>i{
    display: block;
    font-size: 40px;
    margin-bottom: 5px;
}

/* ***************** 여기까지 헤더 ***************** */
.kjh-head-area{
    background-image: url(/img/visual_panorama.jpg);
    width: 100%;
    min-width: 1000px;
    height: 185px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 15px;
    background-size: contain;
}

.kjh-step{
    margin-top: 10px;
}

.kjh-step ol{
    padding: 0;

}

.kjh-step a{
    text-decoration: none;
    color: #767676;
    size: 13px;
}
.kjh-path1,.kjh-path2,.kjh-path3{
    display: inline-block;

}

.kjh-h1{
    margin : 35px auto 20px;
}
.kjh-border{
    width: 1000px;
    height: 200px;
/*     border : 1px red solid;
 */    border-top: 3px black solid;
}



/* ============== 서브섹션 ================= */
.kjh-sub-section{    /* 설명, 버튼, 주의사항 */
    margin-top: 60px;
}

.kjh-content{
    font-size: 16px;
    letter-spacing: -1px;
}

.kjh-btn{
    margin-top: 80px;
}

.kjh-btn a{
    border: 1px solid #333333;
    text-decoration: none;
    color: white;
    background-color: #333333;
    padding: 15px 50px 15px;
    letter-spacing: -1px;
    font-size: 16px;

}

.kjh-gray_box{
    margin-top: 80px;
    background-color: #f8f8f8;
    padding: 15px;
    letter-spacing: -1px;
    font-size: 16px;
    margin-bottom: 60px;
    color: #666;
}



/* ============== 테이블 ================= */
.kjh-border {
    border-collapse: collapse;

} 
.kjh-border > tr td{
    border-bottom: 0;
}

.kjh-tbl td{
    border-bottom: 1px solid black;
    padding: 25px;
    
}

.kjh-tbl .kjh-no td{
    border-bottom: 0 ;
}

.kjh-tbl{
    margin-bottom: 90px;
}

.kjh-last{
    margin-left: 30px;
}

/* ======================================== */

 /* ************ footer ************* */

footer{

    display:flex;

    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

}

#footer-first{
    background-color: rgb(61, 61, 61);

    display: flex;
    justify-content: center;
    align-items: center;

}


#footer-first>p{
    
    color:rgb(144, 143, 143);

}

#inner-footer-contact{
   
    width: 1400px;
    display: flex;
    align-items: baseline;
    justify-content: center;
   
}



#inner-footer-contact>table{
    color:white;
    margin:20px 0;
    width:800px
}

#inner-footer-contact>table:first-child{
    padding-right: 50px;
}

.float-right{
    float:right;
    padding-right: 40px;
}


.book-btn2{

    text-decoration: none;
    color:white;

    border:1px solid black;
    height: 70px;
    width: 150px;

    background-color: rgb(92, 91, 91);

    position:relative;

    /* left:1200px;
    top: 120px; */


    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    top:30px;
}



/* ******************* 가운데 메뉴 ******************** */


#footer-middle-back{
    background-color: rgb(131, 128, 128);
    height:200px;

    display: flex;
    /* justify-content: space-around; */
}

#footer-middle{

    width: 1400px;
    display:flex;

    justify-content: center;
    /* justify-content: space-between; */
    position:relative;
    padding-left: 1px;
}




#footer-middle ul{
    width: 100px;
    margin-top: 30px;
    padding:0 10px;

    flex-basis: 120px;
}

#footer-middle>ul>p{
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#footer-middle li{
    line-height:25px;
}

#footer-middle *{
    color:white;
    text-decoration: none;
    list-style: none;
    font-size: 12px;
}


/************ footer 하얀부분 ***************/

#footer-last{
    display:flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#footer-last>img{
    width: 180px;
    margin:20px 50px;
}

#footer-last *{
    color:gray;
    letter-spacing: 1px;
}

#footer-last a{
    text-decoration: none;
    margin:px 20px;
}

#footer-last>p{
    font-size: 15px;
    line-height:20px;
}

#footer-last>span{
    margin-top:10px;
    /* 아래에 간격 추가해야됨 */
    margin-bottom: 80px;
}

#small-text{
    letter-spacing:0px;
    font-size: 11px;
}
#small-font{
    letter-spacing:0px;
    font-size: 5px;
}

#inner-footer-contact p{
    font-size: 18px;
    margin-bottom: 10px;
    color:rgb(136, 134, 134);
}
